<md-grid-list cols="4" rowHeight="1:2">
	<div *ngIf="movies">
	<div *ngFor="let movie of movies">
	<md-grid-tile>
		<md-card  class="card">
		<md-card-header>
		<md-card-title>{{movie.title}}</md-card-title>
		<md-card-title>{{movie.year}}</md-card-title>
		
		</md-card-header>
		<img md-card-image src="{{movie.poster}}" alt="Image For this Movie is not Available.">

		<md-card-actions>
		<button md-button id="like">Like</button>
		<button md-button id="share">Share</button>
		</md-card-actions>

		<md-card-content>
			<!-- <textarea></textarea> -->
		</md-card-content>
		</md-card>
		
	</md-grid-tile>
	</div>
	</div>
</md-grid-list>
